{% extends 'layout3.html' %}
{% block body %}

<div class="d-flex gap-4 mx-5 mt-3 justify-content-start align-items-start flex-wrap">

    {% for status in statuses %}
    <div class="card shadow border-0" style="min-width: 250px; max-width: 300px;">
        <div class="card-header text-white text-center fw-bold" style="background-color: rgb(103, 101, 101);">
            {{ status }}
        </div>
        <div class="card-body p-2">
            <ul class="list-group list-group-flush">
                {% for task in tasks %}
                    {% if task.status == status %}
                    <li class="list-group-item">
                        <div class="fw-semibold">{{ task.name }}</div>
                        <small class="text-muted">{{ task.assignedTo.user.get_full_name }}</small>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
