{% extends 'layout.html' %}
{% load custom_filters %}
{% load static %}

{% block body %}


<div class="container bg-white p-4 shadow rounded" style="margin-top: 60px; min-width: 1600px !important;">
    <form action="/employees/editEmployee/{{employee.id}}" method="post" enctype="multipart/form-data" class="row">
        {% csrf_token %}
        <!-- Photo -->
        <div class="col-md-3 text-center">
            {% if employee.profile_picture %}
            <img src="{{employee.profile_picture.url }}" class="img-thumbnail" style="max-width: 250px;">
            {% else %}
            <img src="" alt="No Photo Found">
            {% endif %}
            <input type="file" class="form-control" name="profile_picture">
            <button class="btn btn-dark mt-3" type="submit">Save Changes</button>
        </div>

        <!-- Details -->
        <div class="col-md-3">
            <h3>{{ employee.user.get_full_name }}</h3>
            <div class="mb-2 row align-items-center">
                <label class="col-sm-2 col-form-label"><strong>Designation:</strong></label>
                <div class="col-sm-8 ms-5">
                    <select class="form-select" name="designation">
                        {% for designation in designations %}
                            <option value="{{ designation.id }}"
                                {% if designation.id == employee.designation.id %}selected{% endif %}>
                                {{ designation.title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
            <div class="mb-2 row align-items-center">
                <label class="col-sm-2 col-form-label"><strong>Department:</strong></label>
                <div class="col-sm-8 ms-5">
                    <select class="form-select" name="department">
                        {% for department in departments %}
                            <option value="{{ department.id }}"
                                {% if department.id == employee.department.id %}selected{% endif %}>
                                {{ department.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            
        
            <div class="mb-2 row align-items-center">
                <label class="col-sm-2 col-form-label"><strong>Phone:</strong></label>
                <div class="col-sm-8 ms-5">
                    <input type="text" class="form-control" value="{{ employee.phone }}" name="phone">
                </div>
            </div>

        
            <div class="mb-2 row align-items-center">
                <label class="col-sm-2 col-form-label"><strong>Email:</strong></label>
                <div class="col-sm-8 ms-5">
                    <input type="text" class="form-control" value="{{ employee.user.email }}" name="email">
                </div>
            </div>

            <div class="mb-2 row align-items-center">
                <label class="col-sm-2 col-form-label"><strong>Password:</strong></label>
                <div class="col-sm-8 ms-5 position-relative">
                    <input type="password" class="form-control" id="passwordInput" value="{{ employee.password }}" name="password">
                    <button type="button" class="border-light btn bg-white position-absolute top-50 end-0 translate-middle-y me-2" onclick="togglePassword()">
                        👁️
                    </button>
                </div>
            </div>
            
            <script>
            function togglePassword() {
                const input = document.getElementById('passwordInput');
                if (input.type === "password") {
                    input.type = "text";
                } else {
                    input.type = "password";
                }
            }
            </script>
        
            <div class="mb-2 row align-items-center">
                <label class="col-sm-2 col-form-label"><strong>Joined:</strong></label>
                <div class="col-sm-8 ms-5">
                    <input type="text" class="form-control" value="{{ employee.join_date }}" readonly>
                </div>
            </div>
        
            <div class="mb-2 row align-items-center">
                <label class="col-sm-2 col-form-label"><strong>Salary:</strong></label>
                <div class="col-sm-8 ms-5">
                    <input type="text" class="form-control" value="{{ employee.salary }}" name="salary">
                </div>
            </div>
        
            <div class="mb-2 row align-items-center">
                <label class="col-sm-2 col-form-label"><strong>Status:</strong></label>
                <div class="col-sm-8 ms-5">
                    <select name="status" class="form-control">
                        <option value="Active" {% if employee.status == "Active" %}selected{% endif %}>Active</option>
                        <option value="Inactive" {% if employee.status == "Inactive" %}selected{% endif %}>Inactive</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <!-- First Row -->
            <div class="row">
                <div class="col-md-4 d-flex">
                    <div class="card text-bg-warning mb-3 m-2 flex-fill" style="height: 10rem;">
                        <div class="card-header">Leave Days</div>
                        <div class="card-body">
                            <h1 class="card-title text-center">{{leave|length}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="card text-bg-secondary mb-3 m-2 flex-fill" style="height: 10rem;">
                        <div class="card-header">Visits</div>
                        <div class="card-body">
                            <h1 class="card-title text-center">{{visits|length}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="card text-bg-danger mb-3 m-2 flex-fill" style="height: 10rem;">
                        <div class="card-header">Lunch Enrollments</div>
                        <div class="card-body">
                            <h1 class="card-title text-center">{{lunchEnrollments|length}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Second Row -->
            <div class="row">
                <div class="col-md-4 d-flex">
                    <div class="card text-bg-info mb-3 m-2 flex-fill" style="height: 10rem;">
                        <div class="card-header">Vehicle Usage</div>
                        <div class="card-body">
                            <h1 class="card-title text-center">{{vehicleUsage|length}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="card text-bg-dark mb-3 m-2 flex-fill" style="height: 10rem;">
                        <div class="card-header">Reimbursements</div>
                        <div class="card-body">
                            <h1 class="card-title text-center">{{reimbursements|length}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="card text-bg-success mb-3 m-2 flex-fill" style="height: 10rem;">
                        <div class="card-header">Efficiency Score</div>
                        <div class="card-body">
                            <h1 class="card-title text-center">93%</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>

<!-- Tables -->
    <style>
        .fixed-table-container {
            max-height: 300px;
            overflow-y: auto;
        }
        
        .fixed-header thead th {
            position: sticky;
            top: 0;
            background-color: #f8f9fa; /* Light grey, same as Bootstrap */
            z-index: 1;
        }
        
        .table th, .table td {
            white-space: nowrap;
        }
    </style>
    <div class="row mt-5">
        <div class="col-md-2">
            <h5>Lunch Enrollments</h5>
            <div class="fixed-table-container">
                <table class="table table-striped table-hover fixed-header table-sm">
                    <thead>
                        <tr>
                            <th>Date and Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enrollment in lunchEnrollments %}
                        <tr>
                            <td>{{ enrollment.enrolled_on }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="1" class="text-center">No lunch enrollment</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="col-md-10">
            <h5>Vehicle Usage</h5>
            <div class="fixed-table-container">
                <table class="table table-striped table-hover fixed-header table-sm">
                    <thead>
                        <tr>
                            <th>Car</th>
                            <th>Date</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Origin</th>
                            <th>Destination</th>
                            <th>Distance</th>
                            <th>Purpose</th>
                            <th>Cost (BDT)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usage in carUsages %}
                        <tr>
                            <td>{{ usage.car.carModel }} - {{ usage.car.number }}</td>
                            <td>{{ usage.usage_date }}</td>
                            <td>{{ usage.startTime }}</td>
                            <td>{{ usage.endTime }}</td>
                            <td>{{ usage.origin }}</td>
                            <td>{{ usage.destination }}</td>
                            <td>{{ usage.distance_covered }}</td>
                            <td>{{ usage.purpose }}</td>
                            <td>{{ usage.distance_covered|multiply:usage.car.fuelReimbursement }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="19" class="text-center">No vehicle usage found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Reimbursement Requests</h5>
            <div class="fixed-table-container">
                <table class="table table-striped table-hover print-only-table table-sm">
                    <thead class="table-light">
                        <tr>
                            <th>#</th>
                            <th>Employee Name</th>
                            <th>Phone</th>
                            <th>Department</th>
                            <th>Reason</th>
                            <th>Purchased From</th>
                            <th>Amount</th>
                            <th>Apply Date</th>
                            <th>Department Approval</th>
                            <th>Commercial Approval</th>
                            <th>Final Approval</th>
                            <th>Money Recieved</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in reimbursements %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ item.employee.user.get_full_name }}</td>
                            <td>{{ item.employee.phone }}</td>
                            <td>{{ item.employee.department.name }}</td>
                            <td>{{ item.reason }}</td>
                            <td>{% if item.purchasedFrom %} {{ item.purchasedFrom }} {% else %} <h1 class="h4 text-center">-
                                </h1> {% endif %}</td>
                            <td>{{ item.amount }}</td>
                            <td>{{ item.dateRequested }}</td>
                            <td>
                                {% if item.deptApproval == 'approved' %}
                                <span class="badge bg-success">Approved</span><br> <span class="text-muted badge">{{ item.deptApprovedBy.user.get_full_name }}</span>
                                {% elif item.deptApproval == 'pending' %}
                                <span class="badge bg-warning">Pending</span><br> <span class="text-muted badge">{{ item.deptApprovedBy.user.get_full_name }}</span>
                                {% else %}
                                <span class="badge bg-danger">Declined</span><br> <span class="text-muted badge">{{ item.deptApprovedBy.user.get_full_name }}</span>
                                {% endif %}
                            </td>
    
                            <td>
                                {% if item.commercialApproval == 'approved' %}
                                <span class="badge bg-success">Approved</span><br> <span class="text-muted badge">{{ item.commercialApprovedBy.user.get_full_name }}</span>
                                {% elif item.commercialApproval == 'pending' %}
                                <span class="badge bg-warning">Pending</span><br> <span class="text-muted badge">{{ item.commercialApprovedBy.user.get_full_name }}</span>
                                {% else %}
                                <span class="badge bg-danger">Declined</span><br> <span class="text-muted badge">{{ item.commercialApprovedBy.user.get_full_name }}</span>
                                {% endif %}
                            </td>
    
                            <td>
                                {% if item.finalApproval == 'approved' %}
                                <span class="badge bg-success">Approved</span><br> <span class="text-muted badge">{{ item.finalApprovedBy.user.get_full_name }}</span>
                                {% elif item.finalApproval == 'pending' %}
                                <span class="badge bg-warning">Pending</span><br> <span class="text-muted badge">{{ item.finalApprovedBy.user.get_full_name }}</span>
                                {% else %}
                                <span class="badge bg-danger">Declined</span><br> <span class="text-muted badge">{{ item.finalApprovedBy.user.get_full_name }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if item.moneyRecieved %}
                                <span class="badge bg-success">Recieved</span>
                                {% else %}
                                <span class="badge bg-danger">Not Recieved</span>
                                {% endif %}
                            </td>
                            <td>{{ item.remarks }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="13" class="text-center">No Reimbursement Request Found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <h5>Leave Requests</h5>
        <div class="col-md-12 table-responsive" style="max-height: 600px; overflow-y: auto;">
            <table class="table table-striped table-hover table-sm">
                <thead class="table-light position-sticky top-0">
                    <tr>
                        <th>#</th>
                        <th>Employee Name</th>
                        <th>Department</th>
                        <th>Duty Handover</th>
                        <th>Leave Type</th>
                        <th>Apply Date</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Reason</th>
                        <th>Dept Approval</th>
                        <th>HR Approval</th>
                        <th>Final Approval</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in leave %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ application.employee.user.get_full_name }}</td>
                        <td>{{ application.employee.department.name }}</td>
                        <td>{{ application.dutyHandOver.user.get_full_name }}</td>
                        <td>{{ application.leaveType }}</td>
                        <td>{{ application.applyDate }}</td>
                        <td>{{ application.startDate }}</td>
                        <td>{{ application.endDate }}</td>
                        <td>{{ application.reason }}</td>
                        <td>
                            
                                {% if application.deptApproval == 'approved' %}
                                <span class="badge bg-success">Approved</span><br> <span class="text-muted badge">{{ application.deptApprovedBy.user.get_full_name }}</span>
                                {% elif application.deptApproval == 'pending' %}
                                <span class="badge bg-warning">Pending</span><br> <span class="text-muted badge">{{ application.deptApprovedBy.user.get_full_name }}</span>
                                {% else %}
                                <span class="badge bg-danger">Declined</span><br> <span class="text-muted badge">{{ application.deptApprovedBy.user.get_full_name }}</span>
                                {% endif %}
                        </td>

                        <td>
                            
                                {% if application.HRApproval == 'approved' %}
                                <span class="badge bg-success">Approved</span><br> <span class="text-muted badge">{{ application.HRApprovedBy.user.get_full_name }}</span>
                                {% elif application.HRApproval == 'pending' %}
                                <span class="badge bg-warning">Pending</span><br> <span class="text-muted badge">{{ application.HRApprovedBy.user.get_full_name }}</span>
                                {% else %}
                                <span class="badge bg-danger">Declined</span><br> <span class="text-muted badge">{{ application.HRApprovedBy.user.get_full_name }}</span>
                                {% endif %}

                        </td>

                        <td>
                            
                                {% if application.finalApproval == 'approved' %}
                                <span class="badge bg-success">Approved</span><br> <span class="text-muted badge">{{ application.finalApprovedBy.user.get_full_name }}</span>
                                {% elif application.finalApproval == 'pending' %}
                                <span class="badge bg-warning">Pending</span><br> <span class="text-muted badge">{{ application.finalApprovedBy.user.get_full_name }}</span>
                                {% else %}
                                <span class="badge bg-danger">Declined</span><br> <span class="text-muted badge">{{ application.finalApprovedBy.user.get_full_name }}</span>
                                {% endif %}
                        </td>
                        <td>
                            {% if application.remarks %}
                            <span class="bg-light text-dark" style="font-size: smaller;">{{ application.remarks }}</span>
                            {% else %}
                            <span class="badge bg-light text-dark">No remarks</span>
                            {% endif %}
                        </td>
                    </tr>
                    
                    {% empty %}
                    <tr>
                        <td colspan="13" class="text-center">No leave applications found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="row mt-3">
        <h5>Visit Applications</h5>
        <div class="col-md-12 table-responsive" style="max-height: 600px; overflow-y: auto;">
            <table class="table table-striped table-hover table-sm">
                <thead class="table-light position-sticky top-0">
                    <tr>
                        <th>#</th>
                        <th>Employee Name</th>
                        <th>Department</th>
                        <th>Visit To</th>
                        <th>Apply Date</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Reason</th>
                        <th>Dept Approval</th>
                        <th>HR Approval</th>
                        <th>Final Approval</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in visits %}
                        <!-- Decline Modal -->
                        <div class="modal fade" id="declineModal{{ application.id }}" tabindex="-1">
                            <div class="modal-dialog">
                                <form method="POST" action="{% url 'declineVisit' application.id %}">
                                    {% csrf_token %}
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Decline Visit Application</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <label>Remarks</label>
                                            <textarea class="form-control" name="remarks" rows="3" required></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-danger btn-sm">Decline</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ application.employee.user.get_full_name }}</td>
                            <td>{{ application.employee.department.name }}</td>
                            <td>{{ application.visitTo }}</td>
                            <td>{{ application.applyDate }}</td>
                            <td>{{ application.startDate }}</td>
                            <td>{{ application.endDate }}</td>
                            <td>{{ application.reason }}</td>

                            <!-- Dept Approval -->
                            <td>
                                {% if request.user.employee.designation.level == 2 and request.user.employee.department.name != 'HR' %}
                                    {% if application.deptApproval == 'approved' %}
                                        <span class="badge bg-success">Approved</span><br>
                                        <span class="text-muted badge">{{ application.deptApprovedBy.user.get_full_name }}</span>
                                    {% elif application.deptApproval == 'pending' %}
                                        <a class="btn-sm btn btn-success" href="{% url 'approveVisit' application.id %}"><i class="fa-solid fa-check"></i></a>
                                        <button class="btn-sm btn btn-danger" data-bs-toggle="modal" data-bs-target="#declineModal{{ application.id }}">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    {% else %}
                                        <span class="badge bg-danger">Declined</span><br>
                                        <span class="text-muted badge">{{ application.deptApprovedBy.user.get_full_name }}</span>
                                    {% endif %}
                                {% elif request.user.employee.designation.level == 2 and request.user.employee.department.name == 'HR' %}
                                    {% if application.deptApproval == 'approved' %}
                                        <span class="badge bg-success">Approved</span><br>
                                        <span class="text-muted badge">{{ application.deptApprovedBy.user.get_full_name }}</span>
                                    {% elif application.deptApproval == 'pending' %}
                                        <a class="btn-sm btn btn-success" href="{% url 'approveVisit' application.id %}"><i class="fa-solid fa-check"></i></a>
                                        <button class="btn-sm btn btn-danger" data-bs-toggle="modal" data-bs-target="#declineModal{{ application.id }}">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    {% else %}
                                        <span class="badge bg-danger">Declined</span><br>
                                        <span class="text-muted badge">{{ application.deptApprovedBy.user.get_full_name }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if application.deptApproval == 'approved' %}
                                        <span class="badge bg-success">Approved</span><br>
                                        <span class="text-muted badge">{{ application.deptApprovedBy.user.get_full_name }}</span>
                                    {% elif application.deptApproval == 'pending' %}
                                        <span class="badge bg-warning">Pending</span><br>
                                        <span class="text-muted badge">{{ application.deptApprovedBy.user.get_full_name }}</span>
                                    {% else %}
                                        <span class="badge bg-danger">Declined</span><br>
                                        <span class="text-muted badge">{{ application.deptApprovedBy.user.get_full_name }}</span>
                                    {% endif %}
                                {% endif %}
                            </td>

                            <!-- HR Approval -->
                            <td>
                                {% if request.user.employee.department.name == 'HR' and application.deptApproval == 'approved' %}
                                    {% if application.HRApproval == 'approved' %}
                                        <span class="badge bg-success">Approved</span><br>
                                        <span class="text-muted badge">{{ application.HRApprovedBy.user.get_full_name }}</span>
                                    {% elif application.HRApproval == 'pending' %}
                                        <a class="btn-sm btn btn-success" href="{% url 'approveVisit' application.id %}"><i class="fa-solid fa-check"></i></a>
                                        <button class="btn-sm btn btn-danger" data-bs-toggle="modal" data-bs-target="#declineModal{{ application.id }}">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    {% else %}
                                        <span class="badge bg-danger">Declined</span><br>
                                        <span class="text-muted badge">{{ application.HRApprovedBy.user.get_full_name }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if application.HRApproval == 'approved' %}
                                        <span class="badge bg-success">Approved</span><br>
                                        <span class="text-muted badge">{{ application.HRApprovedBy.user.get_full_name }}</span>
                                    {% elif application.HRApproval == 'pending' %}
                                        <span class="badge bg-warning">Pending</span><br>
                                        <span class="text-muted badge">{{ application.HRApprovedBy.user.get_full_name }}</span>
                                    {% else %}
                                        <span class="badge bg-danger">Declined</span><br>
                                        <span class="text-muted badge">{{ application.HRApprovedBy.user.get_full_name }}</span>
                                    {% endif %}
                                {% endif %}
                            </td>

                            <!-- Final Approval -->
                            <td>
                                {% if request.user.is_superuser and application.deptApproval == 'approved' and application.HRApproval == 'approved' %}
                                    {% if application.finalApproval == 'approved' %}
                                        <span class="badge bg-success">Approved</span><br>
                                        <span class="text-muted badge">{{ application.finalApprovedBy.user.get_full_name }}</span>
                                    {% elif application.finalApproval == 'pending' %}
                                        <a class="btn-sm btn btn-success" href="{% url 'approveVisit' application.id %}"><i class="fa-solid fa-check"></i></a>
                                        <button class="btn-sm btn btn-danger" data-bs-toggle="modal" data-bs-target="#declineModal{{ application.id }}">
                                            <i class="fa-solid fa-xmark"></i>
                                        </button>
                                    {% else %}
                                        <span class="badge bg-danger">Declined</span><br>
                                        <span class="text-muted badge">{{ application.finalApprovedBy.user.get_full_name }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if application.finalApproval == 'approved' %}
                                        <span class="badge bg-success">Approved</span><br>
                                        <span class="text-muted badge">{{ application.finalApprovedBy.user.get_full_name }}</span>
                                    {% elif application.finalApproval == 'pending' %}
                                        <span class="badge bg-warning">Pending</span><br>
                                        <span class="text-muted badge">{{ application.finalApprovedBy.user.get_full_name }}</span>
                                    {% else %}
                                        <span class="badge bg-danger">Declined</span><br>
                                        <span class="text-muted badge">{{ application.finalApprovedBy.user.get_full_name }}</span>
                                    {% endif %}
                                {% endif %}
                            </td>


                            <!-- Remarks -->
                            <td>
                                {% if application.remarks %}
                                    <span class="bg-light text-dark" style="font-size: smaller;">{{ application.remarks }}</span>
                                {% else %}
                                    <span class="badge bg-light text-dark">No remarks</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="12" class="text-center">No visit applications found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-3">
        <h5>Attendance Record</h5>
        <div class="table-responsive" style="max-height: 600px; overflow-y: auto;">
            <table class="table table-striped table-hover table-sm">
                <thead class="table-light" style="position: sticky; top: 0; z-index: 2;">
                    <tr>
                        <th>#</th>
                        <th>Employee Name</th>
                        <th>Designation</th>
                        <th>Department</th>
                        <th>Date</th>
                        <th>In Time</th>
                        <th>Out Time</th>
                        <th>Remote</th>
                        <th>Reason</th>
                        <th>Location</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for attn in attendances %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ attn.employee.user.get_full_name }}</td>
                        <td>{{ attn.employee.designation.title }}</td>
                        <td>{{ attn.employee.department.name }}</td>
                        <td>{{ attn.date }}</td>
                        <td>{{ attn.inTime }}</td>
                        <td>{% if attn.outTime %}{{ attn.outTime }}{% endif %}</td>
                        <td>
                            {% if attn.remote %} 
                                <i class="fa-solid text-success fa-check ms-3"></i>
                            {% else %} 
                                <i class="fa-solid text-danger fa-xmark ms-3"></i>
                            {% endif %}
                        </td>
                        <td>{{attn.reason}}</td>
                        <td>{{attn.location}}</td>
                        <td>
                            {% if attn.date|date:"l" == globalConfig.weekend and attn.inTime %}
                                <span class="badge bg-info">present-weekend</span>
                            {% elif attn.inTime <= globalConfig.officeStartTime or not attn.inTime %}
                                <span class="badge bg-{% if attn.status == 'present' %}success{% elif attn.status == 'leave' %}warning{% else %}danger{% endif %}">{{attn.status}}</span>
                            {% else %}
                                <span class="badge text-dark" style="background-color: rgb(164, 242, 156) !important;">late</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="11" class="text-center">No Attendance Records found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    


   <!-- Charts Section -->
   <div class="row mt-4 g-4">
  
    <!-- Attendance Pie Chart Card -->
    <div class="col-lg-6 col-md-12">
      <div class="card shadow-sm h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">Attendance Summary</h5>
          <div class="d-flex gap-2">
            <input type="date" id="startDate" class="form-control form-control-sm" 
                   value="{{ today_minus_30|date:'Y-m-d' }}"
                   max="{{ today|date:'Y-m-d' }}">
            <input type="date" id="endDate" class="form-control form-control-sm" 
                   value="{{ today|date:'Y-m-d' }}"
                   max="{{ today|date:'Y-m-d' }}">
            <button class="btn btn-sm btn-dark" id="refreshChart" onclick="loadChart()">Apply</button>
          </div>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center" style="height: 400px; max-height: 400px;">
          <canvas id="attendanceChart" width="100%" height="100%"></canvas>
        </div>
      </div>
    </div>
  
    <!-- Monthly Attendance / Second Chart Card -->
    <div class="col-lg-6 col-md-12">
      <div class="card shadow-sm h-100">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title mb-0">Monthly Attendance</h5>
          <div class="d-flex gap-2">
            <input type="date" id="startDate2" class="form-control form-control-sm" 
                   value="{{ today_minus_365|date:'Y-m-d' }}"
                   max="{{ today|date:'Y-m-d' }}">
            <input type="date" id="endDate2" class="form-control form-control-sm" 
                   value="{{ today|date:'Y-m-d' }}"
                   max="{{ today|date:'Y-m-d' }}">
            <button class="btn btn-sm btn-dark" id="refreshChart2">Apply</button>
          </div>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center" style="height: 400px; max-height: 400px; width: 100%">
          <canvas id="secondChart"></canvas>
        </div>
      </div>
    </div>
  
</div>

  
</div>




<script>
    let chart;

function loadChart() {
    const startDate = document.getElementById("startDate").value;
    const endDate = document.getElementById("endDate").value;
    const url = `/attendance/attendance_pie_chart/{{ employee.id }}?start_date=${startDate}&end_date=${endDate}`;

    fetch(url)
        .then(response => response.json())
        .then(data => {
            if (chart) chart.destroy(); // refresh

            const ctx = document.getElementById("attendanceChart").getContext("2d");
            chart = new Chart(ctx, {
    type: "pie",
    data: {
        labels: data.labels,
        datasets: [{
            label: `Attendance of ${data.employee}`,
            data: data.counts,
            backgroundColor: [
                "green",      // Present
                "#03f0fc",       // Weekend Present
                "#63f75e",    // Late
                "red",        // Absent
                "yellow"      // Leave
            ],
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: { position: "bottom" },
            title: { display: true, text: `Total Late Hours: ${data.total_late_hours}- Total Absent Hours: ${data.total_absent_hours}- Total Working Hours: ${data.total_working_hours}` },
            tooltip: {
                callbacks: {
                    label: function(context) {
                        const label = context.label || '';
                        let value = context.raw;
                        let hours_info = '';
                        if (label === "Late") hours_info = ` (Total Late Hours: ${data.total_late_hours})`;
                        if (label === "Absent") hours_info = ` (Total Absent Hours: ${data.total_absent_hours})`;
                        if (label === "Present") hours_info = ` (Total Working Hours: ${data.total_working_hours})`;
                        return `${label}: ${value}${hours_info}`;
                    }
                }
            }
        }
    }
});

        });
}

// Load chart on page load
window.onload = loadChart;

    document.addEventListener('DOMContentLoaded', function () {
        const ctx = document.getElementById('secondChart').getContext('2d');
    
        // Fetch data from Django view
        async function loadAttendanceChart() {
            const startDate = document.getElementById('startDate2').value;
            const endDate = document.getElementById('endDate2').value;
    
            const response = await fetch(`/attendance/employee_monthly_attendance/{{ employee.id }}?start_date=${startDate}&end_date=${endDate}`);
            const data = await response.json();
    
            const chartData = {
    labels: data.months,
    datasets: [
        { label: 'Present', data: data.present, backgroundColor: 'green' },
        { label: 'Weekend Present', data: data.weekend_present, backgroundColor: '#03f0fc' },
        { label: 'Late', data: data.late, backgroundColor: '#63f75e' },
        { label: 'Leave', data: data.leave, backgroundColor: 'yellow' },
        { label: 'Absent', data: data.absent, backgroundColor: 'red' }
    ]
};
    
            const config = {
                type: 'bar',
                data: chartData,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        tooltip: {
                            mode: 'index',
                            intersect: false
                        }
                    },
                    scales: {
                        x: {
                            stacked: true
                        },
                        y: {
                            stacked: true,
                            beginAtZero: true
                        }
                    }
                },
            };
    
            if(window.attendanceChartInstance) {
                window.attendanceChartInstance.destroy();
            }
    
            window.attendanceChartInstance = new Chart(ctx, config);
        }
    
        loadAttendanceChart();
    
        // Reload chart when date changes
        document.getElementById('refreshChart2').addEventListener('click', loadAttendanceChart);
    });
    </script>


{% endblock %}