{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARKS HR Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />
  <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>

<style>
        .nav-item{
            margin-right: 30px;
        }
    </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand d-flex" style="margin-bottom: -10px;" href="/"><h6 class="h5 fw-bold text-info">MARKS</h6><h6 class="h5 fw-bold text-dark ms-2">Automation Ltd.</h6></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if 'employees' in request.path %}fw-bold{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Employees
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/employees/">View Employees</a></li>
                      <li><a class="dropdown-item" href="/employees/benefits/viewAwards">Resources and Benefits</a></li>
                      <li><a class="dropdown-item" href="/employees/departments">Departments</a></li>
                      <li><a class="dropdown-item" href="/employees/reimbursementRequests">Reimbursement</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {% if 'attendance' in request.path %}fw-bold{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Attendance
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/attendance/attendanceDashboard">Dashboard</a></li>
                      <li><a class="dropdown-item" href="/attendance/attendanceList">Attendance List</a></li>
                      <li><a class="dropdown-item" href="/attendance/remoteAttendance">Remote Attendance</a></li>
                      <li><a class="dropdown-item" href="/attendance/calendar">Calendar and Holidays</a></li>
                      <li><a class="dropdown-item" href="/attendance/sendLocation">Send Current Location</a></li>
                      <li><a class="dropdown-item" href="/attendance/seeEmployeeLocation">RTLT</a></li>
                    </ul>
                  </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if 'leave' in request.path %}fw-bold{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% if globalConfig.leaveNotification or globalConfig.visitNotification %}
                  <i class="position-absolute top-1 start-100 translate-middle fa-solid fa-bell text-danger"></i>
                  {% endif %}
                  Leave
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/leave/dashboard">Dashboard</a></li>
                  <li>
                    <a class="dropdown-item {% if globalConfig.leaveNotification %}text-danger{% endif %}" href="/leave/leaveApplications">
                      Leave Applications
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item {% if globalConfig.visitNotification %}text-danger{% endif %}" href="/leave/visitApplications">
                      Visit Applications
                    </a>
                  </li>
                  <li><a class="dropdown-item" href="/leave/leaveAdjustment">Leave Adjustment</a></li>
                  <!-- <li><a class="dropdown-item" href="/leave/leaveEncashment">Leave Encashment Process</a></li> -->
                </ul>
              </li>

              <!--
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if 'tax' in request.path %}fw-bold{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tax
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if 'providentFund' in request.path %}fw-bold{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Provident Fund
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->
            </ul>
            <form class="d-flex" role="search">
              {% if request.user.is_anonymous %}
              <a class="btn btn-dark fw-bold" href="/employees/login">Login</a>
              {% else %}
              <a class="btn btn-dark fw-bold" href="/employees/logout">Logout</a>
              {% endif %}
            </form>
          </div>
        </div>
      </nav>

{% block body %}

{% endblock %}



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>