{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARKS HR Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />
  <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>

<style>
        .nav-item{
            margin-right: 30px;
        }
    </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg bg-body-tertiary shadow fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand d-flex" style="margin-bottom: -10px;" href="/"><h6 class="h5 fw-bold text-info">MARKS</h6><h6 class="h5 fw-bold text-dark ms-2">Automation Ltd.</h6></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link {% if 'customerList' in request.path %}fw-bold{% endif %}" href="/crm/customerList">
                  Customer List
                </a>
              </li>
                <li class="nav-item dropdown">
                    <a class="nav-link {% if 'customerVisitPlan' in request.path %}fw-bold{% endif %}" href="/crm/customerVisitPlan">
                      Customer Visit 
                    </a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link {% if 'lead' in request.path %}fw-bold{% endif %}" href="/crm/lead">
                      Leads
                    </a>
                  </li>  
              <li class="nav-item dropdown">
                <a class="nav-link {% if 'offers' in request.path %}fw-bold{% endif %}" href="/crm/offers">
                  Offers
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link {% if 'orders' in request.path %}fw-bold{% endif %}" href="/crm/orders">
                  Orders
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link {% if 'sales' in request.path %}fw-bold{% endif %}" href="/crm/sales">
                  Sales
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link {% if 'accountsRecieveable' in request.path %}fw-bold{% endif %}" href="/crm/accountsRecieveable">
                  Accounts Recieveable
                </a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              {% if request.user.is_anonymous %}
              <a class="btn btn-dark fw-bold" href="/employees/login">Login</a>
              {% else %}
              <a class="btn btn-dark fw-bold" href="/employees/logout">Logout</a>
              {% endif %}
            </form>
          </div>
        </div>
      </nav>

{% block body %}

{% endblock %}



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

</body>
</html>